body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}
.images, .choices,.result{
    width: 100%;
    text-align: center;
}
 picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
